*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: darkgray;
  font-family: garamond, serif;
  font-size: 16px;
  color: maroon;
}

header {
  display: inline
  position: fixed
  margin: 20px 10px;
  background color: maroon;
  color: white
  font-size: 14px;
  font-family: garamond, serif;
  font-style: italic;
  
}
