*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: darkgray;
  font-family: verdana, sans-serif;
  font-size: 16px;
  color: maroon;
  line-height: 1.25;
}

header {
  width: 100%;
  display: inline;
  position: fixed;
  padding: 20px 50px;
  background-color: maroon;
  color: white;
  font-size: 14px;
  font-family: garamond, serif;
  font-style: italic;
  text-transform: uppercase;
}

nav a:link {
  color: white;
}
  
nav a:hover {
  color: crimson;
}

.head {
  width: 500px;
  height: 700px:
  border: 5px;
  border-radius: 25px;
  background-color: white;
  margin: 25px 50px;
}
  
.head h1 {
  align: center;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 15px;
}

.head img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  width: 1000px;
  height: auto;
  border-radius: 25px;
  background-color: white;
  margin: 25px 50px;
}

.body p {
  padding: 15px:
}
