*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: darkgray;
  font-family: garamond, serif;
  font-size: 16px;
  color: maroon;
}

header {
  border: 100px;
  padding: 10px 25px;
  display: inline
  position: fixed
  margin: 20px 10px;
  background-color: maroon;
  color: white
  font-size: 14px;
  font-family: garamond, serif;
  font-style: italic;
}

nav a:link {
  color: white;
}
  
nav a:hover {
  color: crimson;
}

.head {
  border: 500px;
  border-radius: 25px;
  border-style: solid
  border-color: black;
  background-color: white;
  margin: 25px 50px;
}
  
.head h1 {
  align: center;
  font-weight: 800
  letter-spacing: 2px;
}
